.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/LeetCS.deps.json
bin/Debug/netcoreapp3.1/LeetCS.dll
bin/Debug/netcoreapp3.1/LeetCS.exe
bin/Debug/netcoreapp3.1/LeetCS.pdb
bin/Debug/netcoreapp3.1/LeetCS.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/LeetCS.runtimeconfig.json
obj/LeetCS.csproj.nuget.dgspec.json
obj/LeetCS.csproj.nuget.g.props
obj/LeetCS.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/LeetCS.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/LeetCS.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/LeetCS.assets.cache
obj/Debug/netcoreapp3.1/LeetCS.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/LeetCS.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/LeetCS.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/LeetCS.dll
obj/Debug/netcoreapp3.1/LeetCS.exe
obj/Debug/netcoreapp3.1/LeetCS.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/LeetCS.pdb
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
